/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode

vendor_latest.zip
# Ignore Laravel log file
# Ignore the entire storage directory
/storage/*

/storage/logs/laravel.log
storage/logs/laravel.log
# Except for these directories...
 /public/bankcheque/
 /public/id_proof/
 /public/profile_picture/
 /public/qualification/
